@tailwind base;
@tailwind components;
@tailwind utilities;

/* Simple utility classes for the app */
body {
  @apply bg-slate-50 text-slate-800 from-indigo-50 via-slate-50 to-white min-h-screen;
  background-image: radial-gradient(ellipse at top, var(--tw-gradient-stops));
}